.hero {
    background-image: url("/img/img/hero-12.jpeg");
    background-size: cover;
    background-position: top;
    background-color: rgba(102, 98, 165, 0.658);;
    opacity: .8;
    background-blend-mode: overlay;
}

/* .navbar {
    height: 64px;
}

.navbar .container {
    position: fixed;
    left: 60px;
    z-index: 1;
} */


.navbar-start a:hover {
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    /* transition: ease-out; */
}

.trial-btn {
    width: 142px;
    height: 48px;
    border-width: 2px;
    font-size: .9rem;
    font-weight: 600;
    border-color: white;
    color: white;
    background: transparent;
}

.trial-btn:hover {
    background-color: rgba(255, 253, 253, 0.911);
    opacity: .9;
}



.email-input {
    font-size: .9rem;
    width: 374px;
    height: 50px;
    padding: 6px 140px 6px 10px;
    position: relative;
    /* top: 100px;
    bottom: 900px;
    right: 100px;
    left:200px; */
}

.sign-up-btn {
    background-color: #00b289;
    border-color: #00b289;
    color: white;
    font-weight: 500;
    width: 120px;
    height: 42px;
    padding: 3px 13px 6px;
    position: absolute;
    top: 205px;
    left: 250px;
}

.partner {
    margin-left: 100px;
}

/* .affordable {
    padding-top: 0px;
    padding-bottom: 0;
} */

.bg-number {
    font-size: 12rem;
    font-weight: 600;
    position: relative;
    opacity: .1;
    color: rgba(156, 145, 145, 0.842);
    z-index: 0;
}

/* .titles {
    /* display: flex; */
/* }  */

.titles-info h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    top: -145px;
    letter-spacing: 5px;
    
}

.titles-info h4 {
    position: relative;
    top: -155px;
    color: rgba(153, 144, 144, 0.822);
    letter-spacing: 2px;
}

.food-info {
    position: relative;
    top: 75px;
}

/* .benefits {
    padding-top: 0px;
} */

.product-benefits {
    height: 1300px;
    background-color: #fbfbfb;
}

.titles-benefits h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    top: -155px;
    letter-spacing: 5px;
}

.titles-benefits h4 {
    position: relative;
    top: -165px;
    color: rgba(153, 144, 144, 0.822);
    letter-spacing: 2px;
}


.calendar-menu  {
    width: 65%;
    height: 65%;
}

/* .icon-info {
    margin-left: 100px;
} */

.info-box1 {
    width: 300px;
    height: 100px;
    font-size: .7rem;
    margin-left: 230px;
}

.info-box2 {
    width: 300px;
    height: 100px;
    font-size: .7rem;
    margin-left: 50px;

}

.info-box1 h6 {
    font-size: 1rem;
    font-weight: 600;
}

.info-box2 h6 {
    font-size: 1rem;
    font-weight: 600;
}


.icon-box1 {
    height: 30px;
    width: 40px;
    margin-left: 170px;
    position: relative;
    top: 60px;
}

.icon-box2 {
    height: 30px;
    width: 40px;
    /* margin-left: 170px; */
    position: relative;
    top: 60px;
}

.trial-column {
    width: 100px;
    height:100px;
}


.icon-vertical {
    position: relative;
    top: 25px;
}

.titles-choices h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    top: -155px;
    letter-spacing: 5px;
}

.titles-choices h4 {
    position: relative;
    top: -165px;
    color: rgba(153, 144, 144, 0.822);
    letter-spacing: 2px;
}


.image-box-1 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/vegetarian.jpeg");
    background-position: center;
    background-size: cover;
}

.image-box-2 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/cakes.jpeg");
    background-position: center;
    background-size: cover;
}

.image-box-3 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/sweets.jpeg");
    background-position: center;
    background-size: cover;
    /* background-repeat:no-repeat; */
    /* padding: 20px; */
}

.image-box-4 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/fast-food.jpeg");
    background-position: center;
    background-size: cover;
    /* background-repeat:no-repeat; */
    /* padding: 20px; */
}

.image-box-5 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/pizza.jpeg");
    background-position: center;
    background-size: cover;
}

.image-box-6 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/meats.jpeg");
    background-position: center;
    background-size: cover;
}

.image-box-7 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/ice-cream.jpeg");
    background-position: center;
    background-size: cover;
}

.image-box-8 {
    width: 250px;
    height: 325px;
    border-radius: 15px;
    background: url("/img/img/asian-seafood.jpeg");
    background-position: center;
    background-size: cover;
}

.product-register {
    background-color: #fbfbfb; 
    height: 731px;
}

.titles-register h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    top: -155px;
    letter-spacing: 5px;
}

.titles-register h4 {
    position: relative;
    top: -165px;
    color: rgba(153, 144, 144, 0.822);
    letter-spacing: 2px;
}

/* .info-title-1 {
    position: relative;
} */

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 25px;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    position: relative;
    left: 150px;
    box-shadow: 1px 1px 5px -2px grey;
}

.icon-register {
    position: absolute;
    top: 25px;
    left: 25px
    
}


.reviews {
display: flex;
height: 400px;
/* justify-content: ; */
background-color: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 49%, rgba(144,196,125,1) 61%, rgba(41,154,11,1) 84%, rgba(41,154,11,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 7%,rgba(255,255,255,1) 49%,rgba(144,196,125,1) 61%,rgba(41,154,11,1) 84%,rgba(41,154,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,255,1) 7%,rgba(255,255,255,1) 49%,rgba(144,196,125,1) 61%,rgba(41,154,11,1) 84%,rgba(41,154,11,1) 100%);
}


.review-card {
    width: 280px;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 2px 9px -2px rgb(15, 77, 15);  
    margin-left: 20px;
    margin-top: 100px;
}

.review-card1 {
    width: 300px;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 2px 9px -2px rgb(15, 77, 15);  
    margin-top: 100px;
    margin-left: 0;
}

.testimony p {
width: 255px;
font-style: oblique;
}

.testimony .top-quote {
    font-weight: 600;
}

.testimony h6 {
    font-weight: 600;
    font-style: italic;
    margin-left: 110px;
    position: relative;
    top: 25px;
}

.review-image {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    position: relative;
    bottom: 10px;
}
